.banner {
    background-size: cover;
    height: 478px;
    color: #fff;
}

.content {
    padding-top: 140px;
    height: 190px;   
    padding-left: 2%;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.play-button {
    border: solid 1px #fcf9f9;
    color: #fff;
    outline: none;
    /* border: none; */
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(235, 23, 23, 0.637);
    cursor: pointer;
    /* margin-left: 1rem; */
}

.list-button {
    border: solid 1px #0000004b;
    color: #000000;
    outline: none;
    /* border: none; */
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
    margin-left: 1rem;
}

.play-button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.76);
}

.list-button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.76);
    border: solid 1px #eee5e5;

}


.description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .9rem;
    height: 80px; 
    max-width: 400px;
    max-height: 200px;

}

.fade_bottom {
    height: 9.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61),  #111);
}